<template name="AnimationInstantaneousSlide">
  <div id="AnimationInstantaneousSlide" class="m-t-30"></div>
  <div>
    <button class="btn btn-primary m-t-20 {{#if playing}}pause-animation{{else}}play-animation{{/if}}">
      <i class="fa {{#if playing}}fa-pause{{else}}fa-play{{/if}}"></i>
    </button>

    <!-- <div>hulls: {{json hulls}}</div> -->
    <!-- <div>frames: {{json frames}}</div> -->
    <!-- <div>frameTimes: {{json frameTimes}}</div> -->
    <div>playing: {{json playing}}</div>
    <div>frameIndex: {{json frameIndex}}</div>
    <div>timeOffset: {{json timeOffset}}</div>
    <div>currentTime: {{millisecondsToHMSMS currentTime}}</div>
    <div>hull area: {{formatNumber currentHull.area}}</div>
    <div>hull coverage: {{formatNumber currentHull.coveragePercent}}%</div>
  </div>
</template>
