<head>
  <!-- Latest compiled and minified plotly.js JavaScript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<template name="Animation">
  {{#if stimulus.stimulusfile}}
    <div id="Animation"></div>
  {{else}}
    <div class="m-b-10">
      No stimulus image associated with <a href="/studies/{{stimulus.studyId}}/stimuli/{{stimulus._id}}">{{stimulus.name}}</a>

      <!-- {{#if aoi.hasPermission 'update'}}
        {{#unless $.Session.get 'updateAoi'}}
          &nbsp;<a href="#" class="update-aoi"><i class="fa fa-pencil"></i></a>
        {{/unless}}
      {{/if}} -->
    </div>
  {{/if}}

  <!-- {{#if $.Session.get 'updateAoi'}}
    {{> UpdateAoi aoi=aoi}}
  {{/if}} -->
</template>
