<head>
  <!-- Latest compiled and minified plotly.js JavaScript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<template name="Animation">
  {{#if stimulus.stimulusfile}}
    <div id="Animation" class="m-t-30">
      {{#if equals ($.Session.get 'analysisType') 'convexHull'}}
        {{#if equals ($.Session.get 'instantContinuous') 'instantaneous'}}
          {{#if equals ($.Session.get 'slideStep') 'slide'}}
            {{> AnimationInstantaneousSlide}}
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  {{else}}
    <div class="m-b-10">
      No stimulus image associated with <a href="/studies/{{stimulus.studyId}}/stimuli/{{stimulus._id}}">{{stimulus.name}}</a>
    </div>
  {{/if}}
</template>
