<template name="BreadCrumbs">
  <div class="container">
    <ol class="breadcrumb">
      {{#if isActiveRoute 'home'}}
        <li class="active">Home</li>
      {{else}}
        <li><a href="/">Home</a></li>
        {{#if isActivePath regex='generics'}}
          {{#if isActiveRoute 'generics'}}
            <li class="active">Generics</li>
          {{else}}
            {{#if isActiveRoute 'generic'}}
              <li><a href="/generics">Generics</a></li>
              <li class="active">{{generic.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='companies'}}
          {{#if isActiveRoute 'companies'}}
            <li class="active">Companies</li>
          {{else}}
            {{#if isActiveRoute 'company'}}
              <li><a href="/companies">Companies</a></li>
              <li class="active">{{company.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='drawings'}}
          {{#if isActiveRoute 'drawings'}}
            <li class="active">Drawings</li>
          {{else}}
            {{#if isActiveRoute 'drawing'}}
              <li><a href="/projects">Projects</a></li>
              <li><a href="/projects/{{project._id}}">{{project.name}}</a></li>
              <li><a href="/projects/{{project._id}}/drawings">Drawings</a></li>
              <li class="active">{{drawing.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='places'}}
          {{#if isActiveRoute 'places'}}
            <li class="active">Places</li>
          {{else}}
            {{#if isActiveRoute 'place'}}
              <li><a href="/places">Places</a></li>
              <li class="active">{{place.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='projects'}}
          {{#if isActiveRoute 'projects'}}
            <li class="active">Projects</li>
          {{else}}
            {{#if isActiveRoute 'project'}}
              <li><a href="/projects">Projects</a></li>
              <li class="active">{{project.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='specifications'}}
          {{#if isActiveRoute 'specifications'}}
            <li class="active">Specifications</li>
          {{else}}
            {{#if isActiveRoute 'specification'}}
              <li><a href="/projects">Projects</a></li>
              <li><a href="/projects/{{project._id}}">{{project.name}}</a></li>
              <li><a href="/projects/{{project._id}}/specifications">Specifications</a></li>
              <li class="active">{{specification.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='submittals'}}
          {{#if isActiveRoute 'submittals'}}
            <li class="active">Submittals</li>
          {{else}}
            {{#if isActiveRoute 'submittal'}}
              <li><a href="/projects">Projects</a></li>
              <li><a href="/projects/{{project._id}}">{{project.name}}</a></li>
              <li><a href="/projects/{{project._id}}/submittals">Submittals</a></li>
              <li class="active">{{submittal.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='workpackages'}}
          {{#if isActiveRoute 'workpackages'}}
            <li class="active">Workpackages</li>
          {{else}}
            {{#if isActiveRoute 'workpackage'}}
              <li><a href="/projects">Projects</a></li>
              <li><a href="/projects/{{project._id}}">{{project.name}}</a></li>
              <li><a href="/projects/{{project._id}}/workpackages">Workpackages</a></li>
              <li class="active">{{workpackage.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

      {{/if}}
    </ol>
  </div>
</template>
