<template name="BreadCrumbs">
  <div class="container">
    <ol class="breadcrumb mtop">
      {{#if isActivePath regex='studies'}}
        {{#if isActiveRoute 'studies'}}
          <li class="active">Studies</li>
        {{else}}
          <li><a href="/studies">Studies</a></li>
          {{#if isActiveRoute regex='study|datafiles|participants|stimuli|variables|analyses'}}
            <li class="active">{{study.name}}</li>
          {{else}}
            <li><a href="/studies/{{study._id}}">{{study.name}}</a></li>
          {{/if}}
        {{/if}}
      {{/if}}

      {{#if isActiveRoute 'datafile'}}
        <li><a href="/studies/{{study._id}}/datafiles">Datafiles</a></li>
        <li class="active">{{datafile.name}}</li>
      {{/if}}

      {{#if isActiveRoute 'participant'}}
        <li><a href="/studies/{{study._id}}/participants">Participants</a></li>
        <li class="active">{{participant.name}}</li>
      {{/if}}

      {{#if isActiveRoute 'stimulus'}}
        <li><a href="/studies/{{study._id}}/stimuli">Stimuli</a></li>
        <li class="active">{{stimulus.name}}</li>
      {{/if}}

      {{#if isActiveRoute 'aoi'}}
        <li><a href="/studies/{{study._id}}/stimuli">Stimuli</a></li>
        <li><a href="/studies/{{study._id}}/stimuli/{{stimulus._id}}">{{stimulus.name}}</a></li>
        <li class="active">{{aoi.name}}</li>
      {{/if}}

      {{#if isActiveRoute 'variable'}}
        <li><a href="/studies/{{study._id}}/variables">Variables</a></li>
        <li class="active">{{variable.name}}</li>
      {{/if}}

      {{#if isActiveRoute 'analysis'}}
        <li><a href="/studies/{{study._id}}/analyses">Analyses</a></li>
        <li class="active">{{analysis.name}}</li>
      {{/if}}

      {{#if isActiveRoute 'viewing'}}
        <li><a href="/studies/{{study._id}}/analyses">Analyses</a></li>
        <li><a href="/studies/{{study._id}}/analyses/{{viewing.analysisId}}">{{viewing.analysis.name}}</a></li>
        <li class="active">Viewing #{{viewing.number}}</li>
      {{/if}}
    </ol>
  </div>
</template>
