<template name="BreadCrumbs">
  <div class="container">
    <ol class="breadcrumb">
      {{#if isActiveRoute 'home'}}
        <li class="active">Home</li>
      {{else}}
        <li><a href="/">Home</a></li>
        {{#if isActivePath regex='generics'}}
          {{#if isActiveRoute 'generics'}}
            <li class="active">Generics</li>
          {{else}}
            {{#if isActiveRoute 'generic'}}
              <li><a href="/generics">Generics</a></li>
              <li class="active">{{generic.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='studies'}}
          {{#if isActiveRoute 'studies'}}
            <li class="active">Studies</li>
          {{else}}
            {{#if isActiveRoute 'study'}}
              <li><a href="/studies">Studies</a></li>
              <li class="active">{{study.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='aois'}}
          {{#if isActiveRoute 'aois'}}
            <li class="active">AOIs</li>
          {{else}}
            {{#if isActiveRoute 'aoi'}}
              <li><a href="/aois">AOIs</a></li>
              <li class="active">{{aoi.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if isActivePath regex='recordings'}}
          {{#if isActiveRoute 'recordings'}}
            <li class="active">Recordings</li>
          {{else}}
            {{#if isActiveRoute 'recording'}}
              <li><a href="/recordings">Recordings</a></li>
              <li class="active">{{recording.name}}</li>
            {{/if}}
          {{/if}}
        {{/if}}



      {{/if}}
    </ol>
  </div>
</template>
