<template name="PlotRegressionSelect">
  <select class="form-control" name="{{name}}" id="{{name}}">
    <option value="">Participant Mean Gaze Duration</option>
    <option value="">Participant Median Gaze Duration</option>
    <option value="">Participant Total Gaze Duration</option>
    <option value="">Participant Mean Gaze Count</option>
    <option value="">Participant Average Gaze Count</option>
    <option value="">Participant Total Gaze Count</option>
    <option value="">Participant Mean Average Convex Hull Coverage (Slide Method)</option>
    <option value="">Participant Median Average Convex Hull Coverage (Slide Method)</option>
    <option value="">Participant Mean Average Convex Hull Coverage (Step Method)</option>
    <option value="">Participant Median Average Convex Hull Coverage (Step Method)</option>
  </select>
</template>
