<template name="PlotRegressionSelect">
  <select class="form-control" name="{{name}}" id="{{name}}">
    <option value="">Participant Mean Glance Duration</option>
    <option value="">Participant Median Glance Duration</option>
    <option value="">Participant Total Glance Duration</option>
    <option value="">Participant Mean Glance Count</option>
    <option value="">Participant Average Glance Count</option>
    <option value="">Participant Total Glance Count</option>
    <option value="">Participant Mean Average Convex Hull Coverage (Slide Method)</option>
    <option value="">Participant Median Average Convex Hull Coverage (Slide Method)</option>
    <option value="">Participant Mean Average Convex Hull Coverage (Step Method)</option>
    <option value="">Participant Median Average Convex Hull Coverage (Step Method)</option>
  </select>
</template>
